.Clique__Sti{
        color: gray !important;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 12px;
        margin-right: 10px;
        cursor: pointer;
      
      
      }
      .Hello__Sur{
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 12px;
      }
      .Settings__Not{
        margin-right: 20px;
        cursor: pointer;
      }
      .NavBarIcons{
        color: #f3d765;
        cursor: pointer;
        
      }
      .Settings__Cont{
              display: flex;
              align-items: center;
              
          
          }

          .NavBar__Img{
              width: 35px;
              height: 35px;
              margin-right: 10px;
              cursor: pointer;
          }

          .Pro__Img{
                width: 35px;
                height: 35px;  
          }
          
          .User__Img__Settings{
              width: 200px;
              height: 200px;
              border-radius: 50px;
              cursor: pointer;
          
          }

          @media screen and (max-width: 600px) {
                .NavBar__Img {
                  display: none;
                }

                .Hello__Sur{
                  display: none;     
                }

                .Settings__Cont{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                }
              }