.secion1{
        background-color: #f3d765;
       /* position: -webkit-sticky;*/ 
       /*  position: sticky;*/ 
        top: 0;
        padding: 30px 0px 50px 0px;
        
        
      
    }
    .CliqueLogo{
        width: 200px;
        height: 60px;
    }
    .NavBarContainer {
        position: -webkit-sticky;
        position: sticky;
        background-color: #f3d765;
        border: 2px solid #f3d765;
        height: 30px;
        top: 0;
        
      }
    
    .LandingPage__Container{
        margin-top: 200px;
    }
    .Landing__Box {
        display: flex;
        justify-content: space-between;
        margin: auto;
        border: 3px solid #f3d765;
      }
    
    .Note{
      padding: 40px;
    }
    
    .column{
        padding: 0px 20px 0px 0px;
        border: 1px solid #f3d765;
        float: left;
        width: 50%;
    }
    .column1{
        padding: 0px 0px 0px 20px;
        width: 50%;
        border: 1px solid #f3d765;
    }
    
    .Landing__Note{
        font-size: 50px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        line-height: 70px;
    }
    
    .LandingImg__Cont{
       
        box-shadow: 10px 10px;
    
    }

    
    .Landing__No__Users{
        font-family: 'Poppins', sans-serif;
        color: black;
        font-weight: 400;
        font-size: 20px;
    
    }
    .Landing__JoinClique__Note{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .Landing__JoinClique{
        display: flex;
       align-items: center;
    }
    .Landing__Quest{
        color: black;
        font-size: 14px;
        font-weight: 600;
    }
    .Landing__JoinClique__Note__Btn{
    
        background-color: #f3d765;
        border: 2px solid black;
        color: black;
        font-size: 14px;
        font-weight: 600;
        width: 250px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
    
    
    }
    .Landing__JoinClique__Note__Btn:hover{
    
        background-color: black;
        border: 2px solid black;
        color: #f3d765;
        font-size: 14px;
        font-weight: 600;
        width: 250px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
    
    
    }
    
    
    .Landing__Download__Btn{
        display: flex;
        align-items: center;
        
    
    }
    
    .Download__Btn{
        background-color: black;
        color: #f3d765;
        width: 150px;
        height: 50px;

    }

    .Download__Btn__Img{
        width: 150px;
        height: 50px;
    }

    .Leading__Note{
        color: black;
        font-size: 14px;
        font-weight: 600;
    }
    
    /* Responsive layout - for landing page */
    @media screen and (max-width:575.98px) {
        .column {
          width: 100%;
        }
    
        .Col__Img{
            display: none;
        }
    
        .Landing__Box__Res{
            margin-top: -100px;
    
        }
  
      }
    
      @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
       
        }
      }
    
    /* SignUp and Login css*/
    
    
.LoginBody{
        height: 100vh;
       
      }

.Login__Signup__Page {
        max-width: 100%;
        margin: auto;
        height: 100vh;
        display: flex;
        justify-content: space-between;
      }
      
        
.Img__cont{
                background-color: #f3d765;
                
        }
.SignupLogin__cont{
                background-color: white;
        }
.column22{
        width: 50%;
      }  
.dex2 {
        max-width: 400px;
        margin: 250px auto;
         /*border: 3px solid #f3d765;*/ 
        height: 500px;
      }

.dex22{
        max-width: 400px;
        margin: 250px auto;
         /*border: 3px solid #f3d765;*/ 
        height: 500px;
      }
.logoSignup__Cont{
        max-width: 400px;
        margin: 0px auto;
       /*border: 3px solid #f3d765;*/ 
        height: 50px;
        display: flex;
        align-items: center;
}

.logo__Cont{
        width: 50px;
        height: 50px;
       
}
.ImgLogo{
        width: 49px;
        height: 49px;
}
.logo__SignUp__Note{
        margin-left: 20px;
}

.SignUp__Header{
        font-size: 18px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
}

.SignUp__Header__Note{
        font-size: 14px;
        color: rgb(133, 133, 133);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
}

       .Input__C{
        margin-top: 50px;
            }
      .Img__Class{
        height: 500px;
      
        box-shadow: 10px 10px;
        max-width: 400px;
       
      
      }

      .Clique__Qes{
        text-decoration: none;
        font-size: 14px;
        color: gray;;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
      }
      .Clique__Link{
        text-decoration: none;
        font-size: 14px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 400; 
      }

      .Clique__Link:hover{
        text-decoration: none;
        font-size: 14px;
        color: gray;
        font-family: 'Poppins', sans-serif;
        font-weight: 400; 
      }

.Log__Btn{
        background-color: black;
        color: #f3d765;
        border: none;
        padding: 10px 40px 10px 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
}

.Log__Back{
        width: 152px;
}

.frol{
        color: gray;
}

.Otp__Btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.SignUp__success__Note{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: black;
}

.SignUp__success__Note__Tittle{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: black;
}

.Terms__SignUp{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
      /* Responsive layout - Login*/
@media screen and (max-width:900px) {
        .SignupLogin__cont{
          width: 100%;
          padding: 30px;
          margin-top: -200px;
        }
    
        .Img__cont{
            display: none;
        }
  
      
      }
    
  /* Responsive layout - Confirm phone number*/  
    
    .Change__Number{
        display: flex;
         align-items: center;
        justify-content: space-between;

    }
    .ChangeNumber__Btn{
        background-color: black;
        color: #f3d765;
        border: none;
        padding: 10px 40px 10px 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
       

    }
    
    
    
     