.Logo__Container{
    width: 180px;
    height: 40px;

}

.Clique24__Loog{
    width: 180px;
    height: 40px;
  }

.UserNavCont{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Login__Btn{
    background-color: #f3d765;
    border: 2px solid black;
    color: black;
    font-size: 14px;
    width: 100px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    

}
.Clique__Link{
    text-decoration: none;
}
.Login__Btn:hover{
    background-color: black;
    border: 2px solid black;
    color: #f3d765;
    font-size: 14px;
    width: 100px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;

}
.Join__Clique__Btn{
    background-color: black;
    border: 2px solid black;
    color: #f3d765;
    font-size: 14px;
    width: 200px;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    

}
.Join__Clique__Btn:hover{
    background-color: #f3d765;
    border: 2px solid black;
    color: black;
    font-size: 14px;
    width: 200px;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    

}

 
.Nav__Container{
    background-color: #f3d765;
}

.Login__Btn__Cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.sss{
   
    background-color: #f3d765;
    height: 850px;
}

.Clique__Tittles{
    font-size: 14px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}